.addevent_wrap{
    margin: auto;
}
.student_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #9f86c0;
    margin-bottom: 15px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}